/* Nav Elements{ }*/
#flavocon {
  position: relative;
}

/* GRADIENTS{ }*/

.homegradient {
  height: 400px;
  background-color: #595A5C;
  background-image:
    linear-gradient(
    to right, 
    #595A5C, #8AD2FF
    );
}

.aboutgradient {
  height: 200px;
  background-color: #85369F;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #8AD2FF
    );
}

.deliverablesgradient {
  height: 100px;
  background-color: #85369F;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #FC6955
    );
}

.creditsgradient {
  height: 100px;
  background-color: #00A7E1;
  background-image:
    linear-gradient(
    to right, 
    #00A7E1, #85369F
    );
}

body {
    /* background-color: #000000;*/
    color: #522D6D;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    
}

#logohomepage {
   /* margin-left:auto; */
   /* margin-right:auto; */
   margin: 25px 50px 75px 100px;
   width:20%;
   opacity:1;
}
h1 {
     margin: 25px 50px 75px 100px;
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 50px;
     margin: 25px 50px 75px 100px;
}
h2 {
     margin: 25px 50px 75px 100px;
     font-family: 'Montserrat Thin 400', sans-serif;
     font-size: 30px;
    
}
h3 {
     margin: 25px 50px 75px 100px;
     font-family: 'Tourney Semi-bold600', sans-serif;
     font-size: 20px;
}
h4 {
     margin: 25px 50px 75px 100px;
     font-family: 'Tourney Semi-bold600', sans-serif;
     font-size: 20px;
}
p {
     color: #522D6D;
     font-family: 'Montserrat Regular 400', sans-serif;
     font-size: 20px;
     margin: 25px 50px 75px 100px;

}
img {
  display: block;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}
/* background image on homepage */
.hpimage{
  background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;

      z-index: -1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #73308A;
  color: white;
}
/* Remove bullets and set margin to ul */
ul{
  margin: 25px 50px 75px 100px;
  padding: 0;
  list-style-type: none;
}


/* footer {    
    
}
#background1 {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
}

/* #background1::before {    
      content: "";
      background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.125;
      z-index: -1;
  
} */

/* #background2::before {    
      content: "";
      background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.125;
      z-index: -1;
  
} */
