/* Nav Elements{ }*/
#flavocon {
  position: relative;
  max-height: 100px;
  max-width: 75px
}
.fa-tumblr-square {
  color: #ffffff;
  padding: 10px

}
/* box of banner
.capstonetitle {
  padding: 300px; 
}*/

/* styling w/in banner*/
#hptitlebanner{
    padding: 5px;
    line-height: 0;
    color: #ffffff
}
#hptitlebanner {
   /* gradient used */
  height: 130px;
  width: 750px;
  margin-top: 700px;
  line-height: 30px;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #62b3e6);
  padding: 5px;
  color: #ffffff 
}


/* Gradients{ }*/

.aboutgradient {
  height: 200px;
  background-color: #85369F;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #8AD2FF
    );
}

.deliverablesgradient {
  height: 200px;
  background-color: #85369F;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #FC6955
    );
}

.creditsgradient {
  height: 200px;
  background-color: #00A7E1;
  background-image:
    linear-gradient(
    to right, 
   #85369F, #00A7E1
    );
}


body {
    /* background-color: #000000;*/
    color: #522D6D;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%;
    padding-left: 30;
    
}
  html {
  height: 100%;
  margin: 0;
  
}

#logohomepage {
   /* margin-left:auto; */
   /* margin-right:auto; */
   margin: 25px 50px 75px 100px;
   width:20%;
   opacity:1;
}
/* Copy Box Div Container for About Page --------- not using 
#aboutcopybox {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  line-height: 1.5em;
}*/

h1 {
     
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 30px;
     line-height: 0;
}
h2 {
     margin: 25px 50px 75px 100px;
     font-family: 'Montserrat Thin 400', sans-serif;
     font-size: 30px;
     color: #ffffff;
      line-height: 1.5em;
    
}
h3 {
     margin: 25px 50px 75px 100px;
     font-family: 'Tourney Semi-bold600', sans-serif;
     font-size: 20px;
     color:#522D6D;
      line-height: 1.5em;
}
h4 {
     margin: 25px 50px 75px 100px;
     font-family: 'Tourney Semi-bold600', sans-serif;
     font-size: 20px;
}
p {
    margin: 25px 50px 75px 100px;
     color: #522D6D;
     font-family: 'Montserrat Regular 400', sans-serif;
     font-size: 20px;
     line-height: 1.5em;

}
img {
  display: block;
}
.logodiv {
  position: center;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;

  
}
/* background image on homepage - to fill page*/


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #73308A;
  color: white;
}
/* Remove bullets and set margin to ul */
ul{
  margin: 25px 50px 75px 100px;
  padding: 0;
  list-style-type: none;
}

#hpimage {
  
  /* The image used */
  background-image: url("img/1920x1080_UXBookMouseLeashBalls3.png");
 
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Position */
  height: 100%;
  width: auto;
  margin-top: 0px;
}
/* images*/

#aboutimage1 {
/* The image used */
background-image: url("img/1920x1080_FitnessDogOwner.png");

 /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Position */
  height: 100%;
  width: auto;
  margin-top: 0px;
  
}

#deliverablesimage {
/* The image used */
background-image: url("img/1920x1080_Deliverables.png");

 /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Position */
  height: 100%;
  width: auto;
  margin-top: 50px;
}
#creditsimage {
/* The image used */
  background-image: url("img/1920x1080_FitnessDogOwner.png");

 /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Position */
  height: 400%;
  width: auto;
  margin-top: 50px;
}


/* GRADIENTS{ }*/

.homegradient {
  height: 100px;
  background-color: #595A5C;
  background-image:
    linear-gradient(
    to right, 
    #595A5C, #0c0c0c
    );
}

.aboutgradient {
  height: 100px;
  background-color: #85369F;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #8AD2FF
    );
}

.deliverablesgradient {
  height: 100px;
  background-color: #85369F;
  background-image:
    linear-gradient(
    to right, 
    #85369F, #FC6955
    );
}

.creditsgradient {
  height: 100px;
  background-color: #00A7E1;
  background-image:
    linear-gradient(
    to right, 
   #85369F, #00A7E1
    );
}


body {
    /* background-color: #000000;*/
    color: #522D6D;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    
    
}

#logohomepage {
   /* margin-left:auto; */
   /* margin-right:auto; */
   margin: 25px 50px 75px 100px;
   width:20%;
   opacity:1;
}
/* Copy Box Div Container for About Page --------- not using */
.aboutcopybox {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  line-height: 1.5em;
}

h1 {
     margin: 25px 50px 75px 100px;
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 30px;
     line-height: 0;
}
h2 {
     margin: 25px 50px 75px 100px;
     font-family: 'Montserrat Thin 400', sans-serif;
     font-size: 30px;
     color: #ffffff;
      line-height: 1.5em;
    
}
h3 {
     margin: 25px 50px 75px 100px;
     font-family: 'Tourney Semi-bold600', sans-serif;
     font-size: 20px;
     line-height: 0em;
}
h4 {
     margin: 25px 50px 75px 100px;
     font-family: 'Montserrat Thin 400', sans-serif;
     font-size: 24px;
     color: #ffffff;
}
p {
     color: #522D6D;
     font-family: 'Montserrat Regular 400', sans-serif;
     font-size: 18px;
     margin: 25px 50px 75px 100px;
     line-height: 25px;

}



/* footer {    
    
}
#background1 {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
}

/* #background1::before {    
      content: "";
      background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.125;
      z-index: -1;
  
} */

/* #background2::before {    
      content: "";
      background-image: url("img/PP_1280x1220_FitnessDogOwner.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.125;
      z-index: -1;
  
} */

  /* Center and scale the image 
  /* background image on homepage - cover not working to fill page
#hpimage {
  /* The image used 
  background-image: url("img/1920x1080_FitnessDogOwner.png");

  /* Full height 
  height: 100%;

  /* Center and scale the image 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  */
