body {
    background-color: #490457;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Tourney', cursive;
}
h1 {
     text-align: center;
     font-family: 'Montserrat Alternates Light 300', sans-serif;
     font-size: 50px;
}
h2 {
     text-align: center;
     font-family: 'Montserrat Thin 400', sans-serif;
     font-size: 30px;
}
h3 {
     text-align: center;
     font-family: 'Tourney Semi-bold600', sans-serif;
     font-size: 20px;
}
p {
     color: white;
     font-family: 'Montserrat Regular 400', sans-serif;
     font-size: 20px;
     margin: 25px 50px 75px 100px;
}
img {
  display: block;
  opacity: 0.5;

 }
#logohomepage {
   background:  image(img/PP_Logo_PurplePaw_boxedMap_Black) top;

}
.background1 {
 background: image(img/PP_1280x1220_white_Map) right bottom;
     opacity: 0.5;
     width: fit-content;
}
